<h2>Improve Text</h2>

<form [formGroup]="improveForm" (ngSubmit)="improve()">

  <textarea formControlName="text" placeholder="Enter your text"></textarea>

  <div *ngIf="improveForm.get('text')?.touched && improveForm.get('text')?.invalid">
    <small>Text is required (min 3 chars)</small>
  </div>

  <select formControlName="tone">
    <option value="professional">Professional</option>
    <option value="casual">Casual</option>
  </select>

  <button type="submit">Improve</button>

</form>

<div *ngIf="loading">Processing...</div>

<div *ngIf="result">
  <h3>Improved Text</h3>
  <p>{{ result.improvedText }}</p>

  <h3>Explanation</h3>
  <p>{{ result.explanation }}</p>


</div>
<button (click)="logout()">Logout</button>
<!--<button routerLink="/history">View History</button>-->
<button (click)="goToHistory()">View History</button>
