<form [formGroup]="form" (ngSubmit)="register()">

  <div>
    <label for="email">Email <span aria-hidden="true">*</span></label><br>
    <input id="email" formControlName="email" placeholder="Email" />
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small>Email is required & must be valid</small>
    </div>
  </div>

  <br>

  <div>
    <label for="password">Password <span aria-hidden="true">*</span></label><br>
    <input id="password" formControlName="password" type="password" placeholder="Password" />
    <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
      <small>Password is required</small>
    </div>
  </div>

  <br>

  <button type="submit">Register</button>

</form>
